/*DM Sans*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/*Josefin Sans*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/*Anton*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("../../assets/rainforest-mist3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.s-nav {
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #326d6c;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.6);
}

.s-nav a {
    color: white;
    padding: 0 20px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'DM Sans', Helvetica, sans-serif;
    font-size: 95%;
}

.s-nav #home{
    margin-left: 30px;
}

.s-nav #tbar{
    font-family: 'Anton', Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin-left: 1.5rem;
}

.s-nav a:hover {
    background-color: #4CAF50;
    color: black;
}

@media screen and (max-width: 72rem) {
  .s-nav #tbar, .snav a {
    font-size :90%;
    margin: auto;
    text-align: left;
    margin-left: 15px;
  }
}

.main{
    margin-top: 4.5rem;
}

.main .header h1{
    margin-top: 230px;
    font-size: 4.5rem;
    text-align: center;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}

.main .header h2{
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    margin-bottom: 50px;
}

.main > .orgs {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 30px 40px; /* row-gap column-gap */
  align-items: start; /* align items to the top so rows line up */
  justify-items: center;
  padding: 0 20px;
}

.orgs > h3{
   font-size: 2.5rem;
    text-align: center;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    grid-column: span 2;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.orgs > .fst5,
.orgs > .snd5 {
  float: none; /* cancel previous floats */
  width: 100%;
  max-width: 30rem;
  margin: 0;
}

.orgs > .fst5 > p,
.orgs > .snd5 > p {
  margin: 2rem;
  background-color: #306362;
  background: linear-gradient(to right, rgba(53, 112, 111, 0.7), rgba(54, 132, 130, 0.7)); 
  box-shadow: 3px 3px 5px rgba(0,0,0,40%);    
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'DM Sans', Helvetica, sans-serif;
  font-size: 1.3rem;
  max-width: 30rem;
}

.orgs b{
  font-size: 1.7rem;
}

@media (max-width: 900px) {
  .main > .orgs {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.message {
  clear: both;      /* ensures it sits below floated elements if any remain */
  margin-top: 0;    /* remove extra margin pushing it down */
  padding-top: 0;
  
}

.message{
    margin: 100px;
    background-color: #306362;
    background: linear-gradient(to right, rgba(53, 112, 111, 0.7), rgba(54, 132, 130, 0.7)); 
    box-shadow: 3px 3px 5px rgba(0,0,0,40%);    
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'DM Sans', Helvetica, sans-serif;
    margin-bottom: 7rem;
}

.message > h3 {
  font-size: 2.2rem;
  font-family: "DM Sans", sans-serif;
}

.logo-carousel > h3{
    margin-bottom: 5rem;
    background-color: #306362;
    background: linear-gradient(to right, rgba(53, 112, 111, 0.7), rgba(54, 132, 130, 0.7)); 
    box-shadow: 3px 3px 5px rgba(0,0,0,40%);    
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'DM Sans', Helvetica, sans-serif;
    font-size: 1.9rem;
    max-width: 20rem;
    margin:auto;
}

.message > p{
    font-size: 1.3rem;
    font-family: "DM Sans", sans-serif;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  margin-top: 4rem;
  padding: 20px 0;
  margin-bottom: 5rem;
}

.slide-track {
  display: flex;
  gap: 40px; 
  width: max-content;
  animation: scroll 40s linear infinite;
}

.slide {
  flex: 0 0 300px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.slide:hover img {
  transform: scale(1.1);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -3px 5px rgba(0,0,0,0.6);
  background-color: #306362;
  background: linear-gradient(to right, rgba(53, 112, 111, 0.7), rgba(54, 132, 130, 0.7));
  padding: 15px;
  font-family: 'DM Sans', Helvetica, sans-serif;
  font-size: 80%;
}