@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("assets/rainforest-mist.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.s-nav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #4a5e3d;
    background: linear-gradient(to right, #215136, #3f7856);
    overflow-x: hidden;
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    border-right: 4px ridge black;
}   

.s-nav > #home{
    font-weight: bold;
}

.s-nav > p{
    visibility: hidden;
    font-size: 1.4vw;
}

.s-nav a{
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight:450;
}

.s-nav a:hover{
    transform: scale(1.1) translateX(8px);
    transition: transform 0.1s ease-in-out;
    color: #f1f1f1;
}

@media screen and (max-height: 350px) {
  .sidenav {padding-top: 15px;}
}

.main{
    margin-left: 160px; 
}

@keyframes slideInTop {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}

.main > .header{
    height: auto;
    max-width: 500px;
    margin: auto;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    padding: 30px;
    animation: slideInTop 1.5s ease-out 0s 1 forwards;
}

.main > .maintext{
    left: 0;
    background-color: #4a5e3d;
    background: linear-gradient(to right, #2d6847, #47835f);
    overflow-x: hidden;
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    border: 2px ridge black;
    margin: 20px;
    animation: slideInBottom 1.5s ease-out 0s 1 forwards;
}

#arrow-l{
    font-size: 40px;
    position: absolute;
    left: 170px;
    text-decoration: none;
    color: black;
}

#arrow-r{
    font-size: 40px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    color: black;
}

#arrow-l:hover, #arrow-r:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
    color: #5db78d;
}