*{
    font-family: Verdana, Arial, Sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/sky.gif");
    background-repeat: no-repeat;
    background-size: cover;
  }

.header{
    text-align: center;
}

.header > #titles{
    text-align: center;
    margin: 200px;
}

.header #hh3:hover, #adh3:hover, #ahh3:hover, #dmh3:hover, #nsh3:hover, #auh3:hover{
    transform: scale(1.2);
    transition: scale 0.3 ease;
}

.header .header-pages{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
}

#arrow-l{
    position: absolute;
    left: 20px;
    top: 20px;
}

#arrow-r{
    position: absolute;
    right: 20px;
    top: 20px;
}