/*DM Sans*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/*Josefin Sans*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/*Anton*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("../../assets/rainforest-mist4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.s-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #326d6c;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.6);
    z-index: 3; 
}

.s-nav a {
    color: white;
    padding: 0 20px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'DM Sans', Helvetica, sans-serif;
    font-size: 95%;
}

.s-nav #home{
    margin-left: 30px;
}

.s-nav #tbar{
    font-family: 'Anton', Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin-left: 1.5rem;
}

.s-nav a:hover {
    background-color: #4CAF50;
    color: black;
}

@media screen and (max-width: 72rem) {
  .s-nav #tbar, .snav a {
    font-size :90%;
    margin: auto;
    text-align: left;
    margin-left: 15px;
  }
}

.main{
    margin-top: 4.5rem;
}

.main .header h1{
    margin-top: 230px;
    font-size: 4.5rem;
    text-align: center;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}

.main .header h2{
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    margin-bottom: 50px;
}

.main #stat, .main #loc, .main #stat2{
    display: block;
    margin: 3rem auto;
    background-color: #306362;
    background: linear-gradient(to right, rgba(53, 112, 111, 0.7), rgba(54, 132, 130, 0.7)); 
    box-shadow: 3px 3px 5px rgba(0,0,0,40%);    
    border-radius: 10px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'DM Sans', Helvetica, sans-serif;
    font-size: 1.4rem;
    max-width: 50rem;
}

.content {
    display: flex;
    gap: 3rem; /* space between image and links */
    align-items: flex-start;
    justify-content: center;
    margin: 40px auto;
}

.content img {
    height: 25rem;
    border-radius: 1rem;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

.content img:hover{
    transform: scale(1.05) translateX(0.8rem);
    transition: transform 0.3s ease-in-out;
}

.other-links{
    margin-bottom: 3rem;
    background-color: #306362;
    background: linear-gradient(to right, rgba(53, 112, 111, 0.7), rgba(54, 132, 130, 0.7)); 
    box-shadow: 3px 3px 5px rgba(0,0,0,40%);    
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;    
    font-family: 'DM Sans', Helvetica, sans-serif;
    font-size: 1.3rem;
    min-width: 25rem;
}

.other-links a{
    font-size:1.3rem;
    line-height: 60px;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight:450;
}

.other-links a:hover{
    transform: scale(1.1) translateX(8px);
    transition: transform 0.1s ease-in-out;
    color: #f1f1f1;
}

.other-links p{
    font-size: 1.7rem;
}

.footer {
  margin-top: 4rem;
  position: static;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -3px 5px rgba(0,0,0,0.6);
  background-color: #306362;
  background: linear-gradient(to right, rgba(53, 112, 111, 0.7), rgba(54, 132, 130, 0.7));
  padding: 15px;
  font-family: 'DM Sans', Helvetica, sans-serif;
  font-size: 80%;
}