@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
}

.s-nav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #4a5e3d;
    background: linear-gradient(to right, #384636, #536a43); 
    overflow-x: hidden;
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    border-right: 4px ridge black;
}   

.s-nav > #home{
    font-weight: bold;
}

.s-nav > p{
    visibility: hidden;
    font-size: 1.4vw;
}

.s-nav a{
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight:450;
}

.s-nav a:hover{
    transform: scale(1.1) translateX(8px);
    transition: transform 0.1s ease-in-out;
    color: #f1f1f1;
}

@media screen and (max-height: 350px) {
  .sidenav {padding-top: 15px;}
}

body{
        padding: 25px;
        font-family: Arial, Helvetica, sans-serif;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        background-image: url("../../assets/rforest-acc.gif");
        background-repeat: no-repeat;
        background-size: cover;
        }

.main{
    margin-left: 160px; 
}

.main > .header{
    height: auto;
    max-width: 500px;
    margin: auto;
    background-color: #4a5e3d;
    background: linear-gradient(to right, #384636, #536a43);
    overflow-x: hidden;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "DM Sans", sans-serif;
    border: 4px ridge black;
    margin-bottom: 50px;
}

.main h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    margin-top: 70px;
}
.main h2{
    font-family: "Josefin Sans", sans-serif;    
    font-size: 30px;
}

#arrow-l{
    font-size: 40px;
    position: absolute;
    left: 170px;
    text-decoration: none;
    color: black;
}

#arrow-r{
    font-size: 40px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    color: black;
}

#arrow-l:hover, #arrow-r:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
    color: #f1f1f1;
}

.title {
    width: 300px;
    margin: auto;
    background-color: #4a5e3d;
    background: linear-gradient(to right, #384636, #536a43); 
    border: 4px ridge black;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgba(0,0,0,50%);
    }

.credentials, .other-buttons{
    margin: 30px;
    background-color: #4a5e3d;
    background: linear-gradient(to right, #384636, #536a43); 
    border: 4px ridge black;
    box-shadow: 3px 3px 5px rgba(0,0,0,50%);    
    border-radius: 10px;
}

.other-buttons{
    padding: 20px;
}

.credentials:nth-child(2) {
    margin-top: 20px;
    }

legend {
    border-radius: 10px;
    background-color: #4a5e3d;
    background: linear-gradient(to right, #384636, #536a43); 
    border: 4px ridge black;
    padding:10px;
    }
label {
    margin: 5%;
    }

a{
    color:black;
    text-decoration: none;
}

#saccid {
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight:450;
}

#saccid:hover{
    transform: scale(1.1) translateX(8px);
    transition: transform 0.1s ease-in-out;
    color: #f1f1f1;
}