/*DM Sans*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/*Josefin Sans*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/*Anton*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("../../assets/pisaybg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.s-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #326d6c;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.6);
    z-index: 3; 
}

.s-nav a {
    color: white;
    padding: 0 20px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'DM Sans', Helvetica, sans-serif;
    font-size: 95%;
}

.s-nav #home{
    margin-left: 30px;
}

.s-nav #tbar{
    font-family: 'Anton', Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin-left: 1.5rem;
}

.s-nav a:hover {
    background-color: #4CAF50;
    color: black;
}

@media screen and (max-width: 72rem) {
  .s-nav #tbar, .snav a {
    font-size :90%;
    margin: auto;
    text-align: left;
    margin-left: 15px;
  }
}

.main{
    margin-top: 4.5rem;
}

.main .header h1{
    margin-top: 230px;
    font-size: 4.5rem;
    text-align: center;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}

.main .header h2{
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    margin-bottom: 50px;
}

.conta1, .conta2{
    margin: 170px;
    background-color: #306362;
    background: linear-gradient(to right, rgba(53, 112, 111, 0.7), rgba(54, 132, 130, 0.7)); 
    box-shadow: 3px 3px 5px rgba(0,0,0,40%);    
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'DM Sans', Helvetica, sans-serif;
}

.conta2 {
    margin-top: -100px;
}

.conta1 h3{
    font-size: 2.2rem;
}

.conta1 p, .conta2 p{
    font-size: 1.3rem;
}

#hname, #ename{
    font-size: 2.2rem;
}

.himig, .evan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: -12rem;
}

.etext, .htext{
    margin: 170px;
    background-color: #306362;
    background: linear-gradient(to right, rgba(53, 112, 111, 0.7), rgba(54, 132, 130, 0.7)); 
    box-shadow: 3px 3px 5px rgba(0,0,0,40%);    
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'DM Sans', Helvetica, sans-serif;
    max-width: 60rem;
}

.himig img, .evan img{
    height: auto;
    width: 20rem;
    margin-left: 3rem;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    z-index: -2;
    
}

.himig img:hover, .evan img:hover{
    transform: scale(1.05) translateX(1rem);
    transition: transform 0.3s ease-in-out;
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -3px 5px rgba(0,0,0,0.6);
  background-color: #306362;
  background: linear-gradient(to right, rgba(53, 112, 111, 0.7), rgba(54, 132, 130, 0.7));
  padding: 15px;
  font-family: 'DM Sans', Helvetica, sans-serif;
  font-size: 80%;
}