/*DM Sans*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/*Josefin Sans*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/*Anton*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("../../assets/rainforest-mist5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.s-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #326d6c;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.6);
    z-index: 3; 
}

.s-nav a {
    color: white;
    padding: 0 20px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'DM Sans', Helvetica, sans-serif;
    font-size: 95%;
}

.s-nav #home{
    margin-left: 30px;
}

.s-nav #tbar{
    font-family: 'Anton', Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin-left: 1.5rem;
}

.s-nav a:hover {
    background-color: #4CAF50;
    color: black;
}

@media screen and (max-width: 72rem) {
  .s-nav #tbar, .snav a {
    font-size :90%;
    margin: auto;
    text-align: left;
    margin-left: 15px;
  }
}

.main{
    margin-top: 4.5rem;
}

.main .header h1{
    margin-top: 230px;
    font-size: 4.5rem;
    text-align: center;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}

.main .header h2{
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    margin-bottom: 50px;
}

.conta1{
    margin: 170px;
    background-color: #306362;
    background: linear-gradient(to right, rgba(53, 112, 111, 0.7), rgba(54, 132, 130, 0.7)); 
    box-shadow: 3px 3px 5px rgba(0,0,0,40%);    
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'DM Sans', Helvetica, sans-serif;
    font-size: 1.3rem;
}

.conta1 b{
    font-size:2.3rem;
}

.progress {
  position: absolute;
  top: 20px;
  right: 25px;
  font-weight: bold;
  font-size: 18px;
}

.quiz-container {
    position: relative;
    overflow: hidden;

    width: 45rem;
    height: 25rem;

    margin: 120px auto;
    margin-top: -30px;

    background: linear-gradient(
        to right,
        rgba(53, 112, 111, 0.7),
        rgba(54, 132, 130, 0.7)
    );

    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);    
    border-radius: 10px;

    padding: 40px;
    padding-left: 10rem;

    font-family: 'DM Sans', Helvetica, sans-serif;
}

.question {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;

  padding-left: 80px;
  padding-right: 80px;

  box-sizing: border-box;

  transition: all 0.4s ease;
  opacity: 0;
  transform: translateX(100%);
}

.question h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.question label {
    display: flex;
    align-items: center;

    font-size: 22px;
    margin: 6px 0;
    cursor: pointer;
}

.question.active {
  opacity: 1;
  transform: translateX(0);
}

.question.prev {
  transform: translateX(-100%);
}

.quiz-nav {
  text-align: center;
  margin-top: 1rem;
}

.quiz-nav button {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  font-size: 28px;
  background: rgba(0,0,0,0.3);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.nav-btn:hover {
  background: rgba(0,0,0,0.6);
}

.submit-btn {
  position: absolute;
  bottom: 25px;
  right: 40px;

  padding: 10px 18px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -3px 5px rgba(0,0,0,0.6);
  background-color: #306362;
  background: linear-gradient(to right, rgba(53, 112, 111, 0.7), rgba(54, 132, 130, 0.7));
  padding: 15px;
  font-family: 'DM Sans', Helvetica, sans-serif;
  font-size: 80%;
}