@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("../../assets/sky.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.s-nav a:hover{
    transform: scale(1.1) translateX(8px);
    transition: transform 0.1s ease-in-out;
    color: #f1f1f1;
}

.s-nav{
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a7c957;
    background: linear-gradient(to left, #a9ca5d, #67964b);
    overflow-x: hidden;
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    border-right: 1.5px ridge black;
}   

.s-nav > #home{
    font-weight: bold;
}

.s-nav > p{
    visibility: hidden;
}

.s-nav a{
    font-size: 1.1em;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight:450;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main {
  margin-left: 150px;
  padding: 0px 10px;
  text-align: center;
}

.main h1{
    font-family: "Josefin Sans", sans-serif;
    margin-top: 50px;
}
.main h2{
    font-family: "Josefin Sans", sans-serif;    
}

.main #phmap img{
    width:auto;
    height: 800px;
}