@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("../../assets/rainforest-mist2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.s-nav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #4a5e3d;
    background: linear-gradient(to right, #2e3a2c, #4a5e3d);
    overflow-x: hidden;
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    border-right: 4px ridge black;
}   

.s-nav > #home{
    font-weight: bold;
}

.s-nav > p{
    visibility: hidden;
    font-size: 1.4vw;
}

.s-nav a{
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight:450;
}

.s-nav a:hover{
    transform: scale(1.1) translateX(8px);
    transition: transform 0.1s ease-in-out;
    color: #f1f1f1;
}

@media screen and (max-height: 350px) {
  .sidenav {padding-top: 15px;}
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
  text-align: center;
}

.main h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    margin-top: 70px;
}
.main h2{
    font-family: "Josefin Sans", sans-serif;    
    font-size: 30px;
}

#arrow-l{
    font-size: 40px;
    position: absolute;
    left: 170px;
    top: -2px;
    text-decoration: none;
    color: black;
}

#arrow-r{
    font-size: 40px;
    position: absolute;
    right: 10px;
    top:-2px;
    text-decoration: none;
    color: black;
}

#arrow-l:hover, #arrow-r:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
    color: #529f7b;
}

/* CAROUSEL CODE */

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  border: 4px ridge;
}

img{
    width: 60rem;
    height: 30rem;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background: #000;
  max-width: 20rem;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.footer{
  background-color: #4a5e3d;
    background: linear-gradient(to right, #384636, #536a43);
    overflow-x: hidden;
    padding: 7px;
    font-family: "DM Sans", sans-serif;
    border: 4px ridge black;
    margin-top: 50px;
}

.main > .footer > a{
  font-size: 10px;
  color: black;
  font-weight:450;
}

.footer a:hover{
    transform: scale(1.1) translateX(5px);
    transition: transform 0.1s ease-in-out;
    color: #f1f1f1;
}